<div class="container" ng-init="Inicializar()">

  <!-- <div class="jumbotron">
    <h1>Productos</h1>
    <p class="lead">
      <br> ¿Qué desea hacer?
    </p>
    <p>
      <a class="btn btn-lg btn-success" ng-href="#/">Registrar<span class="glyphicon glyphicon-ok"></span></a>
      <a class="btn btn-lg btn-success" ng-href="#/">Ver<span class="glyphicon glyphicon-ok"></span></a>
    </p>
  </div>
</div>
 Producto -->

  <div class="form-horizontal" role="form">
    <div class="form-group">
      <label class="control-label col-sm-2">Nombre:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="empleado" ng-model="producto.Nombre">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Medida:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="producto.Medida">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Iva:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" ng-model="producto.IVA">
      </div>
    </div>
    <div class="form-group" ng-init="getAllCategorias()">
      <label class="control-label col-sm-2">Categoria:</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="producto.fk_idCategoria">
          <option ng-repeat="c in categorias" value="{{c.idCategoria}}">{{c.Descripcion}}</option>
        </select>
      </div>
    </div>
    <center>
      <button type="button" class="btn btn-primary btn-block" ng-click="addProducto()">Registrar</button>
    </center>
    <h2>Productos</h2>
    <div ng-init="getAllProductos()">
      <p class="input-group" ng-repeat="pro in productos">
        <input type="text" ng-model="pro" ng-value="{{pro.Nombre}}" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-danger" ng-click="delete($index)" aria-label="Eliminar">X</button>             
        </span>
      </p>
    </div>
  </div>
  </div>